p {
    padding: 14px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 2px;
}

p:nth-child(odd) {
    background: #cbcb8f;
    box-shadow: 6px 6px 2px 1px rgba(173, 173, 122, .4);
}

p:nth-child(even) {
    background: #cbbd83;
    box-shadow: 6px 6px 2px 1px rgba(177, 165, 114, .4);
}
